In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
sns.set_theme(style="darkgrid")

In [4]:
%%bash
ls

LiteratureReport.pdf
OLID
README.md
script.ipynb
SOLID

In [67]:
# Load datasets and rename columns, load all aqi data but specify metro data name
def loadcsv():
    train = pd.read_csv('OLID/olid-training-v1.0.tsv',delimiter='\t',skiprows=1,header=None)
    train.drop([3], axis = 1,inplace=True)
    train.drop([4], axis = 1,inplace=True)
    
    testlabel = pd.read_csv('OLID/labels-levela.csv',delimiter=',',header=None,dtype=str)
    testlabel.drop([0], axis = 1,inplace=True)
    testlabel.rename(columns={1: 2},inplace=True)
    
    testdata = pd.read_csv('OLID/testset-levela.tsv',delimiter='\t',header=None)
    print(testdata.columns) 
    
    test = pd.concat([testdata,testlabel], axis=1)
    
    return train,test
train,test=loadcsv()

Int64Index([0, 1], dtype='int64')

In [68]:
train

           0                                                  1    2
0      86426  @USER She should ask a few native Americans wh...  OFF
1      90194  @USER @USER Go home youâ€™re drunk!!! @USER #MAG...  OFF
2      16820  Amazon is investigating Chinese employees who ...  NOT
3      62688  @USER Someone should'veTaken" this piece of sh...  OFF
4      43605  @USER @USER Obama wanted liberals &amp; illega...  NOT
...      ...                                                ...  ...
13235  95338  @USER Sometimes I get strong vibes from people...  OFF
13236  67210  Benidorm âœ…  Creamfields âœ…  Maga âœ…   Not too sh...  NOT
13237  82921  @USER And why report this garbage.  We don't g...  OFF
13238  27429                                        @USER Pussy  OFF
13239  46552  #Spanishrevenge vs. #justice #HumanRights and ...  NOT

[13240 rows x 3 columns]

In [69]:
test

         0                                                  1    2
0       id                                              tweet  OFF
1    15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...  NOT
2    27014  #ConstitutionDay is revered by Conservatives, ...  NOT
3    30530  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...  NOT
4    13876  #Watching #Boomer getting the news that she is...  OFF
..     ...                                                ...  ...
856  73439  #DespicableDems lie again about rifles. Dem Di...  NOT
857  25657  #MeetTheSpeakers ðŸ™Œ @USER will present in our e...  OFF
858  67018  3 people just unfollowed me for talking about ...  NOT
859  50665  #WednesdayWisdom Antifa calls the right fascis...  NOT
860  24583      #Kavanaugh typical #liberals , #Democrats URL  NaN

[861 rows x 3 columns]