In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
sns.set_theme(style="darkgrid")

In [5]:
%%bash
ls

LiteratureReport.pdf
OLID
script.ipynb
SOLID

In [10]:
# Load datasets and rename columns, load all aqi data but specify metro data name
def loadcsv():
    trData = pd.read_csv('OLID/olid-training-v1.0.tsv',delimiter='\t')
    testlab1 = pd.read_csv('OLID/labels-levela.csv',delimiter='\t')
    testlab1 = pd.read_csv('OLID/labels-levelb.csv',delimiter='\t')
    return trData,testlab1
dat,testlab1 = loadcsv()

In [12]:
testlab1

     15923,TIN
0    60133,TIN
1    83681,TIN
2    65507,TIN
3    12588,UNT
4    34263,TIN
..         ...
234  22569,TIN
235  48938,TIN
236  41438,TIN
237  73439,TIN
238  67018,UNT

[239 rows x 1 columns]